* {
    padding: 0;
    margin: 0;
}

body{
    padding:40px
}
.allcontents{
    border: grey solid 3px;
    padding:10px;
    border-radius: 15px;
    background-color: rgb(221, 220, 220);
}
.header {
    display: flex;
    justify-content: center;
    padding : 10px
}

.formContainer {
    display: flex;
    justify-content: center;
    padding:10px;
    
}

.taskform{
    width:41vw;
    background-color: grey;
    padding:10px;
    border-radius: 10px;
}
.taskform input[type="text"], .taskform input[type="date"]{
    width: 40vw;
    height:25px;
    margin-bottom:5px;
    border-radius: 10px;
    border:none;
    padding:5px;
}
.taskform input[type="submit"], .taskform input[type="reset"]{
    width:20vw;
    padding:5px;
    border-radius: 10px;


}
.displayTasks {
    display: flex;
    justify-content: center;
    gap : 20px;
}

.uncompletedDiv{
    background-color: grey;
    width:40vw;
    min-height: 30vh;
    padding:20px;
    border-radius: 0px 20px 20px 0px;
}
/* .uncompletedDiv:empty:before {
    content: "to tasks yet";
}
.uncompletedDiv.empty{
    background-color: aqua;
} */

.uncompletedDiv div{
    margin-bottom:10px ;
    border: white solid 2px;
    padding:5px;
}

.completedList{
    background-color: grey;
    width:40vw;
    min-height: 30vh;
    padding:20px;
    border-radius: 20px 0px 0px 20px;

}

