* {
    padding: 0;
    margin: 0;
}

body{
    padding:40px
}
.newtask img{
    width: 200px;
}
.allcontents{
    border: rgb(101, 176, 211) solid 3px;
    padding:10px;
    border-radius: 15px;
    background-color: rgb(172, 217, 238);
}
.allBodyContainers {
    display: flex;
}
.header {
    display: flex;
    justify-content: center;
    padding : 10px
}

.formContainer {
    display: flex;
    justify-content: center;
    padding:10px;
    
}

.taskform{
    width:30vw;
    background-color: rgb(101, 176, 211);
    padding:10px;
    border-radius: 10px;
}
.taskform input[type="text"], .taskform input[type="date"]{
    width: 28vw;
    height:25px;
    margin-bottom:5px;
    border-radius: 10px;
    border:none;
    padding:10px;
}
.taskform input[type="submit"], .taskform input[type="reset"]{
    width:14vw;
    padding:10px;
    border-radius: 10px;
}
.description{
    padding:10px;
}

.displayTasks {
    display: flex;
    justify-content: center;
    gap : 20px;
}

.uncompletedDiv{
    background-color: rgb(101, 176, 211);
    width:25vw;
    min-height: 30vh;
    padding:20px;
    border-radius: 20px;
}

.uncompletedDiv div{
    margin-bottom:10px ;
    border: white solid 2px;
    padding:15px;
    border-radius: 10px;
    
}


.completedDiv{
    background-color: rgb(101, 176, 211);
    width:25vw;
    min-height: 30vh;
    padding:20px;
    border-radius: 20px;    
}
.completedDiv div, .uncompletedDiv div {
    animation-duration: 1.5s;
    animation-name: slidein;
    background-color: rgb(172, 217, 238);
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 200%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
.completedDiv div:hover, .uncompletedDiv div:hover{
    border-radius:15px;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    background-color: white;
    color: black;
    box-shadow: inset 0 0 0 5px #53a7ea;
    
}

@media screen and (max-width: 860px){
    .newtask img{
        width: 100px;
        visibility: block;
    }
    p{
        font-size: 12px;
    }
}